@{
    ViewBag.Title = "حسابداری";
}
<p>
    @Html.ActionLink("تائید واریز های کارت به کارت", "Offline", "Bank")
    @Html.ActionLink("تائید خرید ها", "Finalization", "Bank")
</p>
<fieldset>
    <legend>غیر فعال ها</legend>
    <div class="Message">برای فغال کردن گزینه های زیر با برنامه نویس تماس بگیرید.</div>
    <ul>
        <li><b>اصلاح اتوماتیک موجودی حساب کاربر</b></li>
        <li>مشاهده موجوی کاربران در لحظه</li>
        <li>مشاهده موجودی وب سایت در لحظه</li>
        <li>مشاهده موجودی معلق وب سایت در لحظه</li>
        <li>پنل تماس با کاربر از طریق ایمیل</li>
        <li>امتیاز دهی و قرعه کشی کاربران</li>
        <li>ارائه گذارش حرفه ای به همراه نمودار و ... از وضعیت مالی وب سایت</li>
        <li>...</li>
    </ul>
</fieldset>