@{
    ViewBag.Title = "نمایش محصولات بر اساس شهر";
}
<div class="Results"></div>
@section Scripts{
$(document).ready(function () {
    $.get(Root + "/Feed_Products/City/@HttpContext.Current.Request.RequestContext.RouteData.Values["Id"].ToString()" , {}, function (xml) {
        var output = '';
            $('item',xml).each(function(i) {
                var Name = $(this).find("Name").text();
                var Id = $(this).find("Id").text();
                var url = Root + "/Card/View/" + Id;
                
                $.get(url, function (data) {
                $(".Results").append('<div class="Card">' + data + '</div>');
            });
        });
    });
});
}