@{
    ViewBag.Title = "علاقه مندی به محصول";
}
<div class="Message">
    رای شما ثبت گردید.
</div>
<a href="~/Store/Product/@HttpContext.Current.Request.RequestContext.RouteData.Values["Id"].ToString()">بازگشت</a>