@model IEnumerable<Takhfif.Models.Slide>

<link href="~/Scripts/slider/js-image-slider.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/slider/js-image-slider.js" type="text/javascript"></script>

<div id="slider">
    <ul class="slideme">
@foreach (var item in Model)
{
        <li><img width="100%" height="100%" src="@item.Source" /></li>
}
    </ul>
</div>
<script type="text/javascript">
    $('#slider').slideme({
        arrows: true,
        pagination: 'numbers'
    });
</script>