<a id="googlePlus" title="گوگل پلاس"></a>
<a id="twitter" title="توییتر"></a>
<a id="linkedIn" title="لینکد این"></a>
<a id="instagram" title="اینستاگرام"></a>
<a id="facebook" title="فیسبوک"></a>
<a id="youTube" title="یوتوب"></a>